.button-add-modal {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: darken($green-spring, 10%);
  outline: 0;
  width: 100%;
  margin-top: 0.7rem;
  border: 0;
  padding: 14px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 900;
  -webkit-transition: all 0.3 ease;
  cursor: pointer;
  transition: .2s;
  &:hover {
    outline: 0;
    background: darken($green-spring, 20%);
    box-shadow: $shadow-small;
    transform: scale(1.05);
  }
  &:active,
  &:focus {
    outline: 0;
  }
}